<div class="container">
  <div class="card">
    <h5 class="card-header">Add Target</h5>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" class="form-control" id="location" aria-describedby="emailHelp"
            placeholder="Location">
        </div>
        <div class="form-group">
          <label for="employees">Employees</label>
          <input type="password" class="form-control" id="employees" placeholder="Employees">
          <small class="form-text text-muted">Please estimate if needed.</small>
        </div>
        <div class="form-group">
            <label for="totalRaised">Total Raised</label>
            <input type="text" class="form-control" id="totalRaised" placeholder="Total Raised">
          </div>
        <div class="form-group">
          <label for="exampleFormControlFile1">Logo</label>
          <input type="text" class="form-control-file" id="logo">
          <input type="file" class="form-control-file" id="logo">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
    </div>
  </div>