<div class="container">
  <div class="card">
    <h5 class="card-header">Add Target</h5>
    <div class="card-body">
        <div>
            <label for="location">Name</label>
            <input type="text" class="form-control" id="location" [(ngModel)]="name"
              placeholder="Name">
          </div>
      <div>
          <label for="location">Location</label>
          <input type="text" class="form-control" id="location" [(ngModel)]="location"
            placeholder="Location">
        </div>
        <div>
          <label for="employees">Employees</label>
          <input type="text" class="form-control" [(ngModel)]="employees" id="employees" placeholder="Employees">
          <small class="form-text text-muted">Please estimate if needed.</small>
        </div>
        <div>
            <label for="totalRaised">Total Raised</label>
            <input type="number" class="form-control" [(ngModel)]="totalRaised" id="totalRaised" placeholder="Total Raised">
          </div>
        <div>
          <label for="exampleFormControlFile1">Logo</label>
          <input type="text" class="form-control-file" id="logo">
          <input type="file" class="form-control-file" [(ngModel)]="logo" id="logo">
        </div>
        <button (click)="onSubmit()" class="btn btn-primary">Add</button>
    </div>
  </div>
  <div *ngIf="submitError" class="alert alert-danger" role="alert">
      {{errMessage}}
    </div>
