<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        <h3>Welcome, <span class="badge badge-danger">{{currentUser}}</span></h3>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<ngb-tabset justify="justified">

    <ngb-tab>
        <ng-template ngbTabTitle>Targets</ng-template>
        <ng-template ngbTabContent>
            <div class="container">
                <div class="row">
                    <ng4-loading-spinner [loadingText]="'Please wait...'" [zIndex]="9999"> </ng4-loading-spinner>
                    <div class="col-md-3" *ngFor='let t of targets; let i = index' (click)="openModal(t)">
                        <div *ngIf="t.status ==='target'">
                            <app-individual-company [logo]="t.logo" [name]="t.name" [location]="t.location"
                                [employees]="t.employees" [totalRaised]="t.totalRaised"></app-individual-company>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>Researching</ng-template>
        <ng-template ngbTabContent>
            <div class="container">
                <div class="row">
                    <div class="col-md-3" *ngFor='let t of targets; let i = index' (click)="openModal(t)">
                        <div *ngIf="t.status ==='researching'">
                            <app-individual-company [logo]="t.logo" [name]="t.name" [location]="t.location"
                                [employees]="t.employees" [totalRaised]="t.totalRaised"></app-individual-company>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>Pending Approval</ng-template>
        <ng-template ngbTabContent>
            <div class="container">
                <div class="row">
                    <div class="col-md-3" *ngFor='let t of targets; let i = index' (click)="openModal(t)">
                        <div *ngIf="t.status ==='pendingApproval'">
                            <app-individual-company [logo]="t.logo" [name]="t.name" [location]="t.location"
                                [employees]="t.employees" [totalRaised]="t.totalRaised"></app-individual-company>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>Approved</ng-template>
        <ng-template ngbTabContent>
            <div class="container">
                <div class="row">
                    <div class="col-md-3" *ngFor='let t of targets; let i = index' (click)="openModal(t)">
                        <div *ngIf="t.status ==='approved'">
                            <app-individual-company [logo]="t.logo" [name]="t.name" [location]="t.location"
                                [employees]="t.employees" [totalRaised]="t.totalRaised"></app-individual-company>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>Declined</ng-template>
        <ng-template ngbTabContent>
            <div class="container">
                <div class="row">
                    <div class="col-md-3" *ngFor='let t of targets; let i = index' (click)="openModal(t)">
                        <div *ngIf="t.status ==='declined'">
                            <app-individual-company [logo]="t.logo" [name]="t.name" [location]="t.location"
                                [employees]="t.employees" [totalRaised]="t.totalRaised"></app-individual-company>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
    <div (click)="addTarget()">
        <ngb-tab>
            <ng-template ngbTabTitle>
                <h6><span class="badge badge-primary">Add Target</span></h6>
            </ng-template>
            <ng-template ngbTabContent>
                <app-add-target (outputTarget)="onOutputTarget($event)"></app-add-target>
            </ng-template>
        </ngb-tab>
    </div>
</ngb-tabset>